.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(54, 51, 236);
}

.links{
    margin-right: 10px;
    text-decoration: none;
    color: aliceblue;
}

.titulo{
    color: rgb(252, 252, 252);
}

.img{
    width: 40px;
}

