.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, rgb(2, 0, 36) 0%, rgb(2, 86, 186) 100%, rgb(0, 0, 0) 100%);
    text-decoration: none;
}

.links{
    margin-right: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}

.titulo{
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-size: 30px;

}

.img{
    width: 40px;
}

.img_links{
    height: 35px;
    
}

.botonCarrito{
    background-color: #4CAF50; 
    border-radius: 6px;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition: all 0.25s;
}

.botonCarrito:hover{
    color: rgb(41, 41, 41);
}

